:root{
    --purple:#5551FF;
    --purple10:#ABAAF6;
    --white:#ffffff;
    --black:#000000;
    --gray:#545454;
    --gray10:rgba(0, 0, 0, 0.5);
}
body{
    font-family: 'Rubik', sans-serif;
    margin: 0;
}
p{
    color: var(--gray);
    line-height: 24px;
}
h1{
    font-size: 34px;
}
h2{
    font-size: 32px;
    margin-block-end: 40px;
}
h3{
    font-size: 24px;
    margin-block: 16px;
}
h2,h3{
    font-weight: 400;
}
hr{
    margin-block: 40px;
}
.hero{
    background-image:linear-gradient(274.51deg, rgba(74, 0, 224, 0.6) 5%, rgba(142, 45, 226, 0.5) 130.61%), url(../images/patron-2.png);
    block-size: 96px;
}
.header{
    padding-inline: 16px;
}

a{
    text-decoration: none;
    color: var(--black);

}
nav ul{
    padding-inline-start: 0;
    line-height: 24px;
    list-style: none;
    counter-reset: summary;
}
nav ul li {
    margin-block: 8px;
    
}
nav ul li:hover {
    
    background-color: #5551FF;
}
nav ul li a{
    box-sizing: content-box;
    padding-block: 8px;
    padding-inline-start: 8px;
    max-width: 208px;
    display: inline-block;
}
nav ul li a::before{
    counter-increment: summary;
    content: counter(summary,decimal)". ";
}
nav ul li a:hover{
    background: var(--purple);
    color: var(--white);
}
nav ul li a:hover{
    color: var(--white);
}
main{
    padding-inline: 16px;
}
.main-content h1,.main-content p{
    text-align: center;
}
.section-content{
    text-align: center;
}
span{
    color: var(--purple);
}
.images-setup{
    margin-block-start: 24px;
}
.images-setup:first-of-type{
    margin-block-start: 0;
}
.blockquote{

    border-inline-start: 4px solid var(--purple);
    margin-block: 40px;
    margin-inline-start: 0;
   
    
}
.blockquote p{
    font-size: 16px;
    font-weight: 400;
    color: var(--black);
    text-align: left;
    padding-inline-start: 16px;
    margin-block: 16px;
}
.section-content{
    counter-reset: titleList;
}
.section-content h3::before{
    counter-increment: titleList;
    content: counter(titleList,decimal)". ";
}
.subtitle{
    margin-block-start: 40px;
}
pre{
    box-sizing: border-box;
    border: 6px solid var(--purple);
    box-shadow: -10px 10px 0px var(--purple10);
    padding: 40px;

    inline-size: 100%;
    line-height: 24px;
    text-align: left;
    font-size: 16px;
    margin-block-end: 40px;
    border-radius: 8px;
    overflow: auto;
}
.section-content img{

    max-inline-size: 100%;
}

.section-box p{
    text-align: left;
}
.section-box ol{
    color: var(--gray);
    padding-inline-start: 20px;
}
.section-box ul{
    list-style: none;
    padding-inline-start: 0;
}

.section-box ul li::before{
    color: var(--purple);
    content: "\2022";
    font-size: 40px;
    vertical-align: -7px;
    padding-inline-end: 8px;
}
.section-box h3{
    margin-block-start: 40px;
}
.slider-container{
    display: block;
    scroll-behavior: smooth;
    overflow: auto;
    white-space: nowrap;
    overflow-x: hidden;
    font-size: 0;
}
.video{
    display: inline-block;
    width: 100%;
    aspect-ratio: 16/9;
    height: auto;
}
.slider{
    margin-block-end: 40px;
}
.slider-bullet-list{
    text-align: center;
    margin-block-start: 10px;
}
.slider-bullet{
    display: inline-block;
    inline-size: 15px;
    block-size: 15px;
    background: var(--purple10);
    border-radius: 50%;
}
.section-suscription h3{
    margin-block-start: 40px;
    line-height: 28px;
}
form{
    position: relative;
}
input{
    inline-size: 100%;
    block-size: 16px;
    margin-block-end: 16px;
    padding-block: 24px;
    padding-inline: 16px;
    border: 1px solid var(--black);
    border-radius: 90px;
    font-size: 16px;
    color: var(--black);
    box-sizing: border-box;
}

input[type="submit"]{
    background-color: var(--purple);
    color: #fff;
    block-size: 50px;
    inline-size: 119px;
    padding-block: 12px;
    padding-inline:  16px;
    position: absolute;
    inset-inline-end: 0px;
    border: none;
    font-weight: 500;
}
footer{
    background-color: var(--black);
    margin-top: 24px;
    
}
.footer-content{
    text-align: center;
}
.footer-content h2{
    color: #fff;
    padding-top: 48px;
    padding-bottom: 19px;
    margin-bottom: 0;
    font-size: 24px;
}
.redes{
    padding-bottom: 51px;
}
.redes a img{
    padding-right:12px ;
}
.redes a .twitter{
    padding: 0;
}
@media screen and (min-width: 1366px) {
    h1{
        font-size: 60px;
    }
    .hero{
        
        block-size: 350px;
    }
    .wrapper{
        max-width:903px ;
        
        margin: 0 auto;
    }
    .header{
        position: sticky;
        inset-block-start: -30px;
    }
    
    .header-content{
        position: relative;
        inset-block-start: 30px;
        
    }
    header{
        position: absolute;
        inset-block-start: 0;
        inset-inline-start: 927px;
        inline-size: 208px;
    }
    hr{
        margin-block: 64px;
    }
    pre{
  
        block-size: 368px;
        inline-size: 903px;

    }
    input{
        inline-size: 280px;
        block-size: 24px;
        margin-inline-end: 16px;

        padding-inline:  16px;

    }
    
    input[type="submit"]{
        inset-inline-end: 236px;

    }
    .blockquote{
        inline-size: 603px;
        margin: auto;
        margin-block: 64px;
        
    }
    .blockquote p{
        font-size: 24px;
    }
    footer{

        margin-top: 125px;
        
    }
    .footer-content h2{
        font-size: 32px;
    }
}